# .env file to set up your wordpress site

#
# Network name
# 
# Your container app must use a network conencted to your webproxy 
# https://github.com/evertramos/docker-compose-letsencrypt-nginx-proxy-companion
#
NETWORK=webproxy

# Database name, user and password for your wordpress
MYSQL_HOST=mysql_host
MYSQL_PORT=mysql_port
MYSQL_DATABASE=database_name
MYSQL_USER=user_name
MYSQL_PASSWORD=user_password

# Your domain (or domains)
DOMAINS=domain.com,www.domain.com

# Your email for Let's Encrypt register
LETSENCRYPT_EMAIL=your_email@domain.com

#
# Site Container options
#
# [IMPORTANT] We recommend to always set a version when starting a new site.
# When migrating or restoring a backup you must know the running version for
# theme and plugins compatibility.

# Site Image (wordpress)
SITE_IMAGE=wordpress

# Site Version
SITE_VERSION=latest

# Path to store your site files
SITE_FILES=./site

# Max Log File Size
LOGGING_OPTIONS_MAX_SIZE=200k

# Table prefix
WORDPRESS_TABLE_PREFIX=wp_
